/* EnviroWebPlus */

/* CSS variables */
:root {
  --color-white: #fff;
  --color-black: #14161b;
  --color-gray-lighter: #eee;
  --color-gray-light: #ccc;
  --color-gray: #999;
  --color-gray-dark: #505050;
  --color-gray-darker: #242424;
  --color-red: #df2f34;
  --color-blue: #0177c0;
  --color-green: #568211;
  --color-yellow: #f5b60f;
  --color-violet: #693fa3;
  --color-orange: #c45300;
  --color-turquoise: #40826c;
  --color-dust100: #57473a;
  --color-dust25: #715f54;
  --color-dust10: #8c796f;
}

/* Class colors */
.color-red {
  color: var(--color-red);
}
.color-blue {
  color: var(--color-blue);
}
.color-green {
  color: var(--color-green);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-violet {
  color: var(--color-violet);
}
.color-orange {
  color: var(--color-orange);
}
.color-turquoise {
  color: var(--color-turquoise);
}
.color-pmColor100 {
  color: var(--color-dust100);
}
.color-pmColor25 {
  color: var(--color-dust25);
}
.color-pmColor10 {
  color: var(--color-dust10);
}

/* Checkbox colors */
.color-red input[type="checkbox"] {
  background-color: var(--color-red);
  outline: 1px solid var(--color-red);
  border: 1px solid var(--color-red);
}
.color-blue input[type="checkbox"] {
  background-color: var(--color-blue);
  outline: 1px solid var(--color-blue);
  border: 1px solid var(--color-blue);  
}
.color-green input[type="checkbox"] {
  background-color: var(--color-green);
  outline: 1px solid var(--color-green);
  border: 1px solid var(--color-green);  
}
.color-yellow input[type="checkbox"] {
  background-color: var(--color-yellow);
  outline: 1px solid var(--color-yellow);
  border: 1px solid var(--color-yellow);  
}
.color-violet input[type="checkbox"] {
  background-color: var(--color-violet);
  outline: 1px solid var(--color-violet);
  border: 1px solid var(--color-violet);  
}
.color-orange input[type="checkbox"] {
  background-color: var(--color-orange);
  outline: 1px solid var(--color-orange);
  border: 1px solid var(--color-orange);  
}
.color-turquoise input[type="checkbox"] {
  background-color: var(--color-turquoise);
  outline: 1px solid var(--color-turquoise);
  border: 1px solid var(--color-turquoise);  
}
.color-pmColor100 input[type="checkbox"] {
  background-color: var(--color-dust100);
  outline: 1px solid var(--color-dust100);
  border: 1px solid var(--color-dust100);  
}
.color-pmColor25 input[type="checkbox"] {
  background-color: var(--color-dust25);
  outline: 1px solid var(--color-dust25);
  border: 1px solid var(--color-dust25);  
}
.color-pmColor10 input[type="checkbox"] {
  background-color: var(--color-dust10);
  outline: 1px solid var(--color-dust10);
  border: 1px solid var(--color-dust10);  
}

/* Global styles */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.eot");
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.ttf")
      format("truetype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.svg#NotoSans")
      format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.eot");
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.ttf")
      format("truetype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.svg#NotoSans")
      format("svg");
}

html,
body {
  height: 100%;
}
body {
  font-family: "Noto Sans", Arial, Helvetica, Sans-Serif;
  font-size: 16px; /* 1rem */
}
body,
body.theme-light {
  color: var(--color-black);
  background: var(--color-gray-lighter);
}
body.theme-dark {
  color: var(--color-gray-light);
  background-color: var(--color-black);
}
select,
input {
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 0.15rem;
  border: 2px solid var(--color-black);
  border-radius: 0.25rem;
  cursor: pointer;
}
/* Only for webkit browser engine */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 0.5rem;
  }
}
.theme-dark select,
.theme-dark input {
  color: var(--color-gray-light);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-dark);
}
input[type="number"] {
  width: 3.25rem;
}
button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.15rem;
  border: 2px solid var(--color-black);
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}
.theme-dark button,
.theme-dark .button {
  color: var(--color-gray-light);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-dark);
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-light);
  z-index: 1;
}
.theme-dark .header {
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-gray-dark);
}
.header-title {
  margin: 0 1rem;
}
h1 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
  background: linear-gradient(160deg, var(--color-green), var(--color-black));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: logo-gradient-animation 15s ease infinite;
}
.theme-dark h1 {
  background: linear-gradient(
    160deg,
    var(--color-green),
    var(--color-gray-light)
  );
  background-size: 200% 200%;
  background-clip: text;
}
@keyframes logo-gradient-animation {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
.container-menu-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
}
.container-menu-settings > div {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--color-gray-light);
}
.theme-dark .container-menu-settings > div {
  border-left: 1px solid var(--color-gray-dark);
}
.container-menu-settings > div:first-child {
  border-left: none;
}
.header-icon {
  width: 1.75rem;
  max-height: 2rem;
  margin-right: 1rem;
}
body[data-hasFanGPIO="False"] .container-btn-fanGpio {
  display: none !important;
}
.button-icon-svg {
  max-width: 1.25rem;
  max-height: 1.25rem;
  width: 100%;
  height: auto;
  stroke-width: 0.02rem;
}
.button-icon-svg,
.header-icon svg {
  fill: var(--color-black);
  stroke: var(--color-black);
}
.theme-dark .button-icon-svg,
.theme-dark .header-icon svg {
  fill: var(--color-gray-light);
  stroke: var(--color-gray-light);
}
.theme-light button#theme-light,
.theme-dark button#theme-dark {
  display: none;
}

.container-btn-gitlab svg {
  stroke: unset !important;
}

/* Header Mobile version */
@media screen and (min-width: 1260px) {
  .container-menu-hamburger {
    display: none;
  }
}
.menu-hamburger {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-left: auto;
  position: relative;
  z-index: 1;
  min-width: auto;
  stroke: var(--color-black);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.theme-dark .menu-hamburger {
  stroke: var(--color-gray-light);
}
.menu-hamburger.btn-active {
  transform: rotate(180deg);
}
.menu-main-hamburger {
  fill: none;
  stroke-width: 6;
}
.menu-line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menu-line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.menu-line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.btn-active .menu-line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.btn-active .menu-line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.btn-active .menu-line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (max-width: 1259px) {
  .container-menu-hamburger {
    margin: auto 0.5rem auto auto;
    z-index: 2;
  }
  .container-menu-settings {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-menu-settings.menu-settings-open {
    width: 66%;
    max-width: 14rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    border-left: 1px solid var(--color-gray-light);
    background: var(--color-white);
  }
  .theme-dark .container-menu-settings.menu-settings-open {
    border-left: 1px solid var(--color-gray-darker);
    background: var(--color-black);
  }
  .container-menu-settings > div {
    padding: 0;
    width: 100%;
    border-left: none !important;
    margin-bottom: 2rem;
  }
  .container-info-time {
    margin-top: -1.1rem;
  }
  .container-menu-settings > div:last-child {
    margin-bottom: 4rem;
  }
}

/* Main container */
.main {
  display: grid;
  height: calc(100% - 6.5rem);
  grid-template-columns: 19rem 1fr;
  grid-template-rows: 1fr;
  margin: 2.5rem 2rem 1rem 2rem;
}
.container-readings,
.container-graph {
  height: 100%;
  max-height: calc(100vh - 7rem);
}
.container-readings {
  overflow: auto;
  padding-right: 0.5rem;
  margin-right: 1rem;
}
@media screen and (max-width: 578px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  .container-readings,
  .container-graph {
    max-height: none;
    margin-bottom: 2.5rem;
  }
  .container-readings {
    overflow: unset;
    margin-right: 0;
    padding: 0;
  }
  .container-graph {
    min-height: 20rem;
    padding-right: 0.5rem;
  }
}

/* Readings */
.container-readings table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  padding: 0.5rem 0 0.5rem 0.75rem;
  border-spacing: 0 0.5rem;
}
.theme-dark .container-readings table {
  background-color: var(--color-gray-darker);
}
.container-readings :not(.scale-factors) tr:nth-child(even) {
  color: var(--color-gray-dark);
}
.theme-dark .container-readings table:not(.scale-factors) tr:nth-child(even) {
  color: var(--color-gray);
}
.container-readings table span[id] {
  padding-left: 0.5rem;
}
body[data-hasGasSensor="False"] .readings-gas,
body[data-hasParticulateSensor="False"] .readings-pm {
  display: none !important;
}
.container-readings details {
  border: 2px solid var(--color-gray-light);
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: var(--color-white);
  margin-bottom: 1rem;
}
.theme-dark .container-readings details {
  background-color: var(--color-gray-darker);
  border-color: var(--color-gray-dark);
}
.container-readings details table {
  padding: 0;
  margin-bottom: 0;
}

.container-readings details > summary {
  position: relative;
  border: none;
  cursor: pointer;
  list-style: none;
}
.container-readings details > summary:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  mask-size: cover;
  background-color: var(--color-black);
}
.theme-dark .container-readings details > summary:after {
  background-color: var(--color-white);
}
.container-readings details[open] > summary {
  margin-bottom: 0.5rem;
}
.container-readings details[open] > summary:after {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
}
.container-readings table:not(.scale-factors) td {
  padding: 0 0 0.5rem 0;
}
.container-readings input[type="checkbox"] {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.25rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
}
.container-readings input[type="checkbox"] + label {
  cursor: pointer;
  opacity: 0.4;
}
.container-readings input[type="checkbox"]:not(:checked) {
  background-color: transparent;
}
.container-readings input[type="checkbox"]:checked,
.container-readings input[type="checkbox"]:checked + label {
  opacity: 1;
}
.container-readings .scale-factors td {
  text-transform: capitalize;
}

/* Graph */
.container-graph {
  overflow: auto;
}
.container-graph > canvas {
  width: 100%;
  display: block;
}

/* a11y */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
